.custom-container-ask {
    max-width: 600px;
    max-height: 100px; 
    width: 100%;
    height: 100%;
}

.custom-margin-ask {
    margin-top: 149px;
    margin-bottom: 149px;
}

.custom-link {
    color: gray;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}