.custom-container-question-details {
    max-width: 1000px; 
    height: 100%;
    width: 100%;
}

.custom-container-question-details-answer {
    max-width: 800px; 
    height: 100%;
    width: 100%;
    background-color:  RGB(230, 245, 255)
}

.custom-input-question-details {
    background-color:  RGB(240, 248, 255)
}