.custom-container-question-details {
    max-width: 1200px; 
    height: 100%;
    width: 100%;
}

.custom-margin-question-details {
    height: auto;
}

.custom-input-question-details {
    background-color:  RGB(240, 248, 255)
}