.custom-container {
    max-width: 600px; 
    width: 100%;
}

.custom-margin-login {
    margin-top: 135px;
    margin-bottom: 135px;
}

.custom-link {
    color: gray;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}