.custom-container {
    max-width: 600px; 
    width: 100%;
}

.custom-margin {
    margin-top: 142px;
    margin-bottom: 142px;
}

.custom-link {
    color: gray;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}